html, body, h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, "Times New Roman";}
body {background-color: #d3d3d3;}
body {color: #000000;}
h1 {color: #000000;}
h2 {color: #000000;}
h3 {color: #000000;}
img {border: 1px solid black;}